/* [ block- ] --------------------------------------] */


*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

spacer {
    display: block;
    margin: 2ch;
}

body {
    font-size: 16px;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
    color: white;
    /* background-image: url(../img/bg.jpeg); */
    background-image: url(../img/wall/kdwall01.jpg);
    background-color: rgba(0, 0, 0, 0.6);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken;
}

header {
    padding-bottom: 1.5rem!important;
    padding-top: 1.5rem!important;
}

.ultrascrt {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
}

hdln {
    font-size: 1.75rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 1.5rem!important;
    margin-top: 1.5rem!important;
}

scaffold {
    display: block;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

hd-crd {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

hd-crd-bg {
    display: block;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center!important;
}

iframe {
    width: 100%;
    /* height: ; */
}

/* ---------------------------------------------
[ COMENTÁRIOS ] */
comments {
    display: block;
    background: #fff;
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;

}

row {
    -ms-flex-pack: center !important;
    justify-content: center !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

column {
    display: block;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

fb-comments {
    display: block;
    border: 1px solid #e9ebee;
    border-radius: 3px;
    padding: 0 15px;
    padding-bottom: 15px;
    margin: auto;
    position: relative;
    color: #4267b2;
}

fb-comments-header {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #e9ebee;
}

comentarios {
    color: #000;
    font-weight: 700;
    font-size: .9em;
}

crds-comments {
    display: block;

}

table {
    display: table;
    /* border-collapse: separate; */
    /* box-sizing: border-box; */
    text-indent: initial;
    border-spacing: 2px;
    /* border-color: grey; */
    border-collapse: collapse;
}

.fb-comments-comment {
    border: none;
    padding: 0;
    margin: 10px 0;
    width: 100%;
}

.fb-comments-comment-img {
    vertical-align: top;
    width: 48px;
    padding-right: 5px;
}

td {
    padding: 2.5px;
}

tr, td {
    border: none;
    margin: 0;
}

.fb-comments-comment-img img {
    max-width: 48px;
    border-radius: 25px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.fb-comments-comment-name {
    font-size: .85em;
}

.fb-comments-comment-name name {
    color: #365899;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    cursor: hand;
}

.fb-comments-comment-text {
    font-size: .9em;
    color: #000;
    border-radius: 21px;
    background-color: #eaebef;
    padding: 10px 20px;
}

.fb-comments-comment-actions like, .fb-comments-comment-actions reply {
    font-size: .75em;
    color: #4267b2;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}

.fb-comments-comment-actions like, .fb-comments-comment-actions reply {
    font-size: .75em;
    color: #4267b2;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}

.fb-comments-comment-actions likes {
    font-size: 13px;
    background: url(https://cloudcode.site/likes.png);
    background-repeat: no-repeat;
    padding-left: 43px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-top: -10px;
    float: right;
    background-color: #fff;
    border: solid #eaebef;
    border-radius: 19px;
}

.fb-comments-comment-actions date {
    font-size: .75em;
    color: #90949c;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}

/* ---------------------------------------
[ BTN LOAD MORE ] */
.fb-comments-loadmore {
    background: #4080ff;
    border: 1px solid #4080ff;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    padding: 0.875em;
    text-shadow: none;
    width: 100%;
    font-weight: 700;
    cursor: hand;
    cursor: pointer;
}

card {
    display: flex;
}

flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* [ bonus ] --------------------------------------] */

bonus {
    display: block;
    background: #1b1d21;
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
}

hdln2 {
    display: block;
    font-size: 2.2em;
    line-height: 46px;
    color: #FFF;
    font-family: "Poppins",Sans-serif;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 2px 5px #00000070;
}

box6 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
encaps.pause.css6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 897px;
}

box6-body {
    padding: 10px;
    margin-top: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

box6-text {
    padding: 12px 5px;
    color: #FFF;
    font-size: 18px;
    text-shadow: 0 2px 5px #00000010;
}

bonus-txt {
    background: #9C5B00;
    place-self: self-end;
    margin: 0 35px 0 0;
    transform: rotate(90deg) translate(35px, -55px);
    padding: 10px;
    z-index: 12;
    color: #fff;
    font-size: 1.5em;
    font-family: 'Poppins';
    font-weight: bold;
}
.bonus-i {
}

card6 {
    background: linear-gradient( #42424270, #00000070 );
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 708px;
    border-radius: 1.3rem;
    transition: .2s ease-in;
    box-shadow: #8a2be2 -15px 15px 15px;
}
card6:hover {
    box-shadow: #8a2be2 -15px 15px 0;
    transition: .2s ease-out;
}
.card6-i {
    box-shadow: #8a2be2 15px 15px 10px;
}
.card6-i:hover {
    box-shadow: #8a2be2 15px 15px 0;
}

card6-bg {
    width: 80%;
    /* height: 80%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translate(0, -25px);
}
.card6-bg-i {
}

.capa-do-livro {
    width: 86%;
    transform: translate( 0, -15%);
    filter: drop-shadow(#000000 -2px 4px 6px);
    transition: .3s ease-out;
}

.capa-i {
}

titulo-do-livro {
    display: block;
    margin: 1vw 0;
    font-family: "Poppins",Sans-serif;
    font-size: 1.5rem;
    font-style: oblique;
    font-weight: 700;
    color: #ff9e00;
}
descricao-do-livro {
    font-size: 1rem;
    font-weight: 200;
    color: #fff;
}

valor-do-livro {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    color: #fff;
    font-weight: bold;

}

mrgn-bttm { 
    display: block; 
    margin-bottom: 150px; 
}

/* ------------------------------ */


/* [ block-2 ] ---------------------------------------- */
block-2 {
    display: block;
    background: #000;
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
}

/* [ block-3 ] ---------------------------------------- */
block-3 {
    display: block;
    background: #242a2a;
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
}

/* [ garantia ] ---------------------------------------- */
garantia {
    display: block;
    background: #232629;
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
}

seloDeGarantia {
    display: flex;
    justify-content: center;
    width: 100%;
}
.seloDeGarantia {
    width: 70%;
    margin: 4ch 0;
}



/* -----------------------------------------------
[ FOOTER ] */
footer {
    display: flex;
    justify-content: center;
    padding: 15px;
}

termos {
    margin-top: 1.5rem!important;
}
termos a {
    color: #fff!important;
    text-decoration: none;
}


/* ---------------------------- */

/* [ MEDIAS ] ============================== */
/*      490     */
@media (min-width: 490px) {
    bonus-txt {
        margin: 0 35px 0 0;
        transform: rotate(90deg) translate(35px, -48px);
    }

    card6-bg {
        transform: translate(0, -55px);
    }
}



/*      533      */
@media (min-width: 533px) {
    bonus-txt {
        margin: 0 38px 0 0;
        transform: rotate(90deg) translate(0, -46px);
    }

    card6-bg {
        transform: translate(0, -73px);
    }
}


/*      576      */
@media (min-width: 576px) {
    scaffold {
        max-width: 540px;
    }
}


/*      650      */
@media (min-width: 650px) {

}


/*      768      */
@media (min-width: 768px) {
    scaffold {
        max-width: 720px;
    }
    
    bonus-txt {
        margin: -1vw 5vw -2vw 5vw;
        height: 5vw;
        transform: rotate(0deg) translate(0, -10px);
        padding: 1vw 3vw 3vw 3vw;
    }
    .bonus-i {
        place-self: flex-start;
    }
    
    card6 {
        justify-content: space-around;
        height: 335px;
    }
    
    card6-bg {
        width: 40%;
        margin-left: 55%;
        transform: translateY(-2px);
    }
    .card6-bg-i {
        transform: translate( -132%, 9px );
    }
    
    .capa-do-livro {
        width: 45%;
        position: absolute;
        margin-right: 13%;
        transform: translate( -38%, -18%);
    }
    .capa-do-livro:hover {
        width: 47%;
        filter: drop-shadow(#000000 -6px 8px 8px);
        transition: .2s ease-in;
    }
    .capa-i {
        transform: translate( 65%, -18%);
    }
}


/*      850      */
@media (min-width: 850px) {
    hdln2 {
        display: block;
        font-size: 2.2em;
        line-height: 46px;
        color: #FFF;
        font-family: "Poppins",Sans-serif;
        text-align: center;
        font-weight: bold;
        text-shadow: 0 2px 5px #00000070;
    }
    
    box6 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    encaps.pause.css6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 897px;
    }
    
    box6-body {
        padding: 10px;
        margin-top: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    box6-text {
        padding: 12px 5px;
        color: #FFF;
        font-size: 18px;
        text-shadow: 0 2px 5px #00000010;
    }
    
    bonus-txt {
        margin: -1vw 5vw -2vw 5vw;
        height: 5vw;
        transform: rotate(0deg) translate(0, -10px);
        padding: 1vw 3vw 3vw 3vw;
    }
    
    card6 {
        justify-content: space-around;
    }
    
    card6-bg {
        margin-left: 55%;
    }
    .capa-do-livro:hover {
        width: 47%;
        filter: drop-shadow(#000000 -6px 8px 8px);
        transition: .2s ease-in;
    }
}


/*      992      */
@media (min-width: 992px) {
    scaffold {
        max-width: 960px;
    }
    hd-crd-bg, column {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    
}


/*      1200     */
@media (min-width: 1200px) {
    scaffold {
        max-width: 1140px;
    }
    
    mrgn-bttm { 
        display: block; 
        margin-bottom: 200px; 
    }
}



































/* ------------------------------
[ BTN ] */
/* pulsing button */
@keyframes pulse-orange {
    0% {
        transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
	}
	
	70% {
        transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
	}
	
	100% {
        transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
	}
}

btn {
    transform: scale(1);
    cursor: pointer;
    transition: .1s ease-in-out;
    animation: pulse-orange 2s infinite;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    color: #2e82bc;
    outline: 0;
    line-height: 1;
    text-align: center;
    position: relative!important;
    display: inline-block!important;
    border-style: solid;
    width: 100%;
    padding-left: 0!important;
    padding-right: 0!important;
    margin-bottom: 10px;
    padding: 22px 44px;
    border-color: #ff5535;
    border-width: 0;
    /* border-radius: 6px; */
    border-radius: 18px;
    background: linear-gradient(to bottom,#ff6600 0%,#ff5535 100%);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 50%);
    text-decoration: none!important;
    
}

btn-t {
    -webkit-font-smoothing: antialiased;
    text-align: center;
    margin: 0;
    border: 0;
    font: inherit;
    /* vertical-align: baseline; */
    display: block;
    position: relative;
    z-index: 1;
    padding: 0 15px;
    white-space: normal;
    font-size: 25px;
    color: #fff;
    font-family: Oswald;
    font-weight: 700;
    text-shadow: #000 0 1px 0;
    text-decoration: none;
    width: 100%;
    transition: .05s ease-out;
}

btn-t2 {
    -webkit-font-smoothing: antialiased;
    text-align: center;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    position: relative;
    z-index: 1;
    margin: 0.2em 0 -0.5em;
    font-size: 15px;
    color: #f5e051;
    font-family: Cabin;
    font-weight: 700;
    font-style: italic;
    text-shadow: #000 0 1px 0;
}






























































/* [ block- ] --------------------------------------] */
.red { background: #f00; }
.green { background: #0f0; }
.blue { background: #00f; }
.bc { background: #fff; }
.pt { background: #000; }
/* . { background: #; } */

red { color: #f00; }
green { color: #0f0; }
blue { color: #00f; }
white { color: #fff; }
black { color: #000; }
/* black { color: #000; } */

dstq { color: #ab0055 }
up { font-size: 2rem; }


.bloco1 { 
    background: #f00; 
}
.bloco2 { 
    background: #0f0; 
}
.bb1 { 
    width: 100%; 
    height: 350px; 
    background: #fff; 
}